<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UDF" value="Y"/>
    <add key="APGLAccount" value="10101001"/>
    <add key="APSAC" value="00997133"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>