USE [HACPL_LIVE]
GO
/****** Object:  StoredProcedure [dbo].[SP_ITN_OutgoingPayment]    Script Date: 02/04/2020 9:59:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SP_ITN_OutgoingPayment](@DocKey INT)
	AS
	BEGIN
SELECT T2.DocNum,
		T2.DocEntry,
	 T2."DocDate" AS "DocDate"
	,T2."DocNum"
	,T3."FormatCode"
	,T2."PrjCode"
	,T3."AcctName" AS "AccountName"
	,T1."LineMemo"
	,T1."Debit"
	,T1."Credit"
	,T1.U_ITN_Ju
	
		
	--,CONCAT(SUBSTRING(T2."U_ITN_NPDate", 0, 4) , '/' , SUBSTRING(T2."U_ITN_NPDate", 5, 2) , '/' , SUBSTRING(T2."U_ITN_NPDate", 7, 2)) AS "NP Date"
	,[dbo].ITN_NEPALI_FMT_DATE (T2."U_ITN_NPDate") as "NPdate"
	,CONCAT(ISNULL(T4."BeginStr", '') , CAST(T2."DocNum" AS nvarchar) , CAST(T4."EndStr" AS CHAR(20))) AS "Voucher No"
	,ISNULL(T5."PrcName",'') AS "Employee"
	,ISNULL(T6."PrcName",'') AS "Department"
	,ISNULL(T7."PrcName",'') AS "Division"
	,ISNULL(T8."PrcName",'') AS "Asset"
	,ISNULL(T9."PrcName",'') AS "Others"
	,CASE 
		WHEN T10."Descrip" != ''
			THEN T10."Descrip"
		ELSE T0."Memo"
		END AS "Rmk"
	,T0."TransId"
	,T2."TransId" AS "DCno"
	,T2."DocEntry"
	,T11."CardName"
	,T15."CheckNum"
	,B."U_NAME"
	,T2."Canceled"
	
	
	,CASE 
	    WHEN  T2."CashSum" <> 0
	         THEN 'Cash Payment'
	    WHEN T2."CreditSum"<>  0
	         THEN 'Credit Payment'
	    WHEN T2."CheckSum" <>  0
	         THEN 'Cheque Payment'
	    WHEN T2."TrsfrSum"<> 0
	        THEN 'Bank  Payment'
    END AS "PaymentType"   
	,T4."SeriesName" as "SeriesName"
	,T1.OcrCode2
	,T1.OcrCode3
	,CASE WHEN (T1."OcrCode2" = 'NULL') 
		  Then T1."OcrCode3"
		  Else ISNULL(T1."OcrCode2", 'Empty')
		  End AS "CostCenter"
	
--ISNULL(T1."U_EMNM",'') || '/' || ISNULL(T1."U_EMNM",'')||'/' ||ISNULL(T1."U_DPNM",'')||'/'||ISNULL(T1."U_DVNM",'')||'/'||ISNULL(T1."U_ASNM",'')||'/'||ISNULL(T1."U_OTNM",'') AS "Cost Center"
FROM OJDT T0
INNER JOIN JDT1 T1 ON T0."TransId" = T1."TransId"
INNER JOIN OVPM T2 ON T0."TransId" = T2."TransId"
LEFT JOIN OACT T3 ON T1."ShortName" = T3."AcctCode"
LEFT JOIN NNM1 T4 ON T4."Series" = T2."Series"
LEFT JOIN OPRC T5 ON T5."PrcCode" = T1."ProfitCode"
Left JOIN VPM1 T15 ON T15.DocNum = T2.DocEntry
LEFT JOIN OPRC T6 ON T6."PrcCode" = T1."OcrCode2"
LEFT JOIN OPRC T7 ON T7."PrcCode" = T1."OcrCode3"
LEFT JOIN OPRC T8 ON T8."PrcCode" = T1."OcrCode4"
LEFT JOIN OPRC T9 ON T9."PrcCode" = T1."OcrCode5"
LEFT JOIN VPM4 T10 ON T10."DocNum" = T2."DocEntry"

	AND T10."AcctCode" = T1."Account"
	AND T10."LineId" = T1."Line_ID" - 1
	
LEFT JOIN OCRD T11 ON T11."CardCode" = T1."ShortName"
--LEFT JOIN RCT1 T13 ON T13.DocNum= T12.DocNum

--LEFT JOIN NNM1 T12 ON T12."Series" = T2."Series"
INNER JOIN OUSR B ON T0."UserSign" = B."INTERNAL_K"
---left join VPM2 VP ON VP."DocNum"=T2."DocEntry"
--LEFT JOIN OPCH OP ON OP."DocEntry" =VP."DocEntry"
WHERE T2."DocEntry"=@DocKey
ORDER BY T1."Line_ID";
END


